# replace :80 with your domain name to get automatic https via LetsEncrypt
robbo.xyz {


    proxy /roller react-roller:3000 {
        websocket
    }


    cors /roller {
        origin      *
        methods     POST,GET,OPTIONS
    }
}